#header{
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
}
#button1{
    background-color: tomato;
    width: 95px;
    height: 30px;
    border-radius: 50px;
    border: none;
}
#header > p{
    color: white;
    display: inline-block;
}
nav{
width: 100%;
height: 250px;
background-color: red;
}
.para{
    display: inline-block;
    margin-left: 450px;
}
.p1{
    margin: 20px;
}